section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  padding: 0 1rem;
}
h1{
  box-shadow: 0 0 25px white;
  padding: 1rem 3rem;
  border-bottom:4px solid white;
  border-right:4px solid white;
  border-radius: 5px;
  font-size: 2rem;
}
#cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}
#card{
  width: 130px;
  height: 200px;
  border: 2px solid white;
  background-color:var(--card-color);
  color:white;
  border-radius: 5%;
  font-size: 30px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
#card:hover{
  cursor: pointer;
  background-color: var(--hover-color);
  transform: scale(1.05);
}