section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
}
h1{
  box-shadow: 0 0 25px white;
  padding: 1rem 3rem;
  border-bottom:4px solid white;
  border-right:4px solid white;
  border-radius: 5px;
  font-size: 2rem;
}
#cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}
#card{
  width: 130px;
  height: 200px;
  border: 2px solid white;
  background-color:var(--card-color);
  color:white;
  border-radius: 5%;
  font-size: 30px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
#card:hover{
  cursor: pointer;
  background-color: var(--hover-color);
  transform: scale(1.05);
}
.display{
  display: flex;
  flex-direction: row;
  gap: 8rem;
}
#moves,#timer{
  background-color: white;
  padding:0.5rem 2rem;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}
span{
  background-color: var(--card-color);
  color: white;
  padding:0 5px;
  border-radius: 50%;
  margin:0 5px;
}
.result{
  background-color: var(--card-color);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0 4rem;
  margin-top: 4rem;
  border: 2px solid rgb(180, 178, 178);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}
 