section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
}
h1{
  box-shadow: 0 0 25px white;
  padding: 1rem 3rem;
  border-bottom:4px solid white;
  border-right:4px solid white;
  border-radius: 5px;
  font-size: 2rem;
}
#cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}
.card{
  width: 130px;
  height: 200px;
  border: 2px solid white;
  background-color:var(--card-color);
  color:white;
  border-radius: 5%;
  font-size: 30px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.card:hover{
  cursor: pointer;
  background-color: var(--hover-color);
  transform: scale(1.05);
}
.card--flipped{
  background-color: grey;
  color: white;
  transform: scale(1.05);
}
.card--flipped:hover{
   cursor: pointer;
  background-color: grey;
  transform: scale(1.05);
}
.card--flipped:disabled{
  background-color: grey;
  cursor: default;
}
.display{
  display: flex;
  flex-direction: row;
  gap: 8rem;
}
#moves,#timer{
  background-color: white;
  padding:0.5rem 2rem;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}
span{
  background-color: var(--card-color);
  color: white;
  padding:0 5px;
  border-radius: 50%;
  margin:0 5px;
}
.result{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.result>p{
  
  background-color: var(--card-color);
  border: 2px solid rgb(180, 178, 178);
  padding: 2rem 4rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  font-weight: bolder;
  border-radius: 8px;
}
.restart-btn{
  background-color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 2rem;
  border-radius: 5px;
  margin-top: 2.5rem;
  width: 70%;
  box-shadow: 0 0 25px var(--card-color),
  0 0 10px white;
  transition: 0.4s ease-in-out;
}
.restart-btn:hover{
  cursor: pointer
  ;
  box-shadow: 0 0 25px white,
  0 0 10px white;
  background-color: rgb(173, 171, 171);
  opacity: 0.9;
  transform: scale(1.05);
}
 

@keyframes shake {
  0% {transform: translateX(0)}
  20% {transform: translateX(-30px)}
  40% {transform: translateX(30px)}
  60% {transform: translateX(-15px)}
  80% {transform: translateX(15px)}
  100% {transform: translateX(0)}
}

.shake{
  animation: shake 1s ease-in-out;
}