:root{
  --back-color:#fe9849;
  --card-color:#8c3f04;
  --hover-color:#632d03;
  --zellige-color:#764d0f;
}
body{
  background-color: var(--back-color);
  border-radius: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}